body {
    background-image: url("../Restorant/images/фон-меню1.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-category {
    width: 100%;
    margin-bottom: 40px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.menu-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
}

.menu-item .item-details {
    flex: 1;
}

.menu-item h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.menu-item p {
    margin-bottom: 10px;
}

.add-to-cart-button {
    background-color: #ffd700;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #f5c500;
}

/* Стили для заголовка и навигации */
header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 32px;
    color: #ffd700;
    margin-bottom: 20px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

/* Стили для кнопки Корзина */
.cart-button {
    background-color: #ffd700;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.cart-button:hover {
    background-color: #f5c500;
}

/* Стили для футера */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}

footer p {
    color: #fff;
    font-size: 14px;
    margin: 0;
}